body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: #D9EDBF;
}

.header_text {

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(10, 12, 12);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}